# npm
node_modules
npm-debug.log

# type definitions
typings

# bash
*.sh

# vscode
jsconfig.json
typings.json
.vscode

# build output
dist

# electron builds
Hexsweeper-*

# uglify js webpack cache
webpack_cached