@import "../styles/mixins.styl"

:local .cell
    createHexagon('&', 3, white) 
    text-align: center
    margin-right: 0.5em

    .text
        display: inline-block
        text-align: center

    &.one
        color: green

    &.two
        color: blue

    &.cut, &.empty
        visibility: hidden

    &.flagged span
        position: relative

        &::before
            position: absolute
            content: '\2691'
            z-index: 9999
            top: -1em
            left: -0.5em
            color: #6009A0