@import "../styles/global.styl"

:local .cell
    createHexagon('&', 3, white) 
    text-align: center
    margin-right: 0.5em

    .text
        display: inline-block
        text-align: center

    &.one
        color: green

    &.two
        color: blue

    &.cut, &.empty
        visibility: hidden

