:local .gameContainer
    background-color: rgba(0, 0, 0, 0.75)
    padding: 2em
    border: 2px solid #333333
    display: block
    overflow: auto
    opacity: 0
    transition: 1s opacity

    &.active
        opacity: 1

    .saveBtn
        float: right
        transition: 1s background-color

        &.success
            background-color: green

            &::before
                display: inline-block
                content: '✔'

        &.failure
            background-color: #C00C0E

            &::before
                display: inline-block
                content: 'x'