:local .mineField
    background-color: rgba(0, 0, 0, 0.75)
    padding: 2em
    border: 2px solid #333333
    display: block
    overflow: scroll

    tr
        display: flex
        margin-top: 0.5em
        margin-bottom: 0.5em

    tr:nth-child(2n)
        margin-left: 1.75em
