@import "../../styles/mixins.styl";

:local .timer
    position: absolute
    display: inline-block
    color: #B80E0C

    time
        display: inline-block
        createHexagon('&', 4, lightblue)
