@import "../styles/global.styl"

:local .inputGroup
    display: inline-block

:local .gameSetupForm
    position: relative
    background-color: rgba(0, 0, 0, 0.75)
    display: inline-block
    padding: 2em
    border: 2px solid #333333
    color: lightgray
    min-width: 95%
    min-height: 25em
    display: flex

    .inputGroup
        width: 75%
    
    fieldset, .play, .load, .controls
        display: inline-block

    .chkbox
        margin-left: 1em
        margin-top: 0.5em

    .controls
        float: right
        padding: 5em

    .playBtn
        cursor: pointer
        font-size: 20px

    .difficulties li
        display: inline-block
        color: lightgray
        padding: 0.5em
        margin: 0.5em
        text-transform: capitalize
        cursor: pointer
        opacity: 0.5

        &.selected
            color: lighten(#530D88, 15)
            opacity: 1

        &.selected::after
            background-color: lighten(#530D88, 15)

    createHexagon('.hexagon', 10, #530D88)
            