@import "../styles/global.styl"

:local .gameSetupForm
    position: relative
    background-color: rgba(0, 0, 0, 0.75)
    display: inline-block
    padding: 2em
    border: 2px solid #333333
    color: lightgray
    min-width: 95%
    min-height: 25em
    display: flex

    .inputGroup
        width: 50%

        &.play, &.load
            position: relative
            height: 100%
            top: 0
            right: 0
            width: 15%
            padding: 5em 10em 0 0
            

        &.play
            left: 10%
            top: -2%

        &.load
            left: -8%
            top: 10%

    .playBtn
        cursor: pointer
        font-size: 20px

    .difficulties li
        display: inline-block
        color: lightgray
        padding: 0.5em
        margin: 0.5em
        text-transform: capitalize
        cursor: pointer
        opacity: 0.5

        &.selected
            color: lighten(#530D88, 15)
            opacity: 1

        &.selected::after
            background-color: lighten(#530D88, 15)

    createHexagon('.hexagon', 10, #530D88)
            