main
    margin-top: 15%
    z-index: -1

:local .appMenu
    padding: 0
    position: fixed
    left: 0
    top: 0
    width: 100%
    transition: 1s opacity
    opacity: 0.5

    ul
        padding: 0
        margin-left: 0
        display: flex
        align-items: center
        justify-content: center

    &:hover
        opacity: 1

        .bottomBorder
            width: 50%

:local .menuItem
    margin: 0.5%
    display: inline-block
    transition: .75s background


    &:hover
        background: lightblue

:local .menuLink
    display: inline-block
    color: #797C80
    text-decoration: none
    font-weight: bold
    padding: 1em
    

:local .bottomBorder
    width: 0
    transition: 1s width