:local .cell
    display: inline-block
    background-image: url('../assets/hexagon.png')
    z-index: 1000000
    background-size: cover
    height: 55px
    width: 50px
    margin-right: 0.5%

    .text
        display: inline-block
        width: 100%
        text-align: center
        padding: 1em 0
    &.cut
        visibility: hidden
