body
    font-family: Arial, Helvetica, sans-serif
    font-weight: bold
    background: url('../assets/wallpaper.jpg')
    background-size: cover

.mainContent
    margin-top: 10%
    height: 100%
    z-index: -1
    display: flex

fieldset
    border: 0

.inline-block
    display: inline-block

.hidden
    display: none

.width-33
    width: 40%

.centered-container
    width: 100%
    display: flex
    align-items: center
    justify-content: center

.custom-btn
    padding: 0.5em
    color: white
    font-weight: bold
    text-decoration: none
    background: #0E7EC0
    opacity: 0.75
    transition: .75s opacity
    margin: 1%
    cursor: pointer
    border: 0

    &:hover
        opacity: 1

.bottom-border-animated
    &::after
        content: ' '
        width: 33%
        height: 2px
        display: block
        transition: 1s width
        background: #797C80
        z-index: 1000000

    &:hover::after, .bottom-border
        width: 100%

#toast-container
    position: fixed
    max-width: 25%
    top: 2em
    right: 2em

    .toast
        margin: 1em
        padding: 1em
        background-color: #333333
        display: inline-block

        &.toast-success
            color: #4B9BD4
            border: 1px solid #4B9BD4
            
            .toast-message::before
                content: '✔'
        
        &.toast-error
            color: #A8181B
            border: 1px solid #A8181B

            .toast-message::before
                content: '☹'
            
        .toast-message::before
            margin-right: 1em
            line-height: 0.7em
            display: inline
            font-size: 24px


createHexagon(selector, size, bgcolor)
     {selector}
        width: unit(size, em)
        padding-top: unit(size / 6.6666, em)
        height: unit(size / 2.5, em)
        background: bgcolor
        position: relative
        text-align: center
        transition: 1s opacity
        opacity: 0.5

        &:hover
            opacity: 0.9

     {selector}:before
        content: ""
        position: absolute
        top: unit(size / -4, em)
        left: 0
        width: 0
        height: 0
        border-left: unit(size / 2, em) solid transparent
        border-right: unit(size / 2, em) solid transparent
        border-bottom: unit(size / 4, em) solid bgcolor

     {selector}:after
        content: ""
        position: absolute
        bottom: unit(size / -4, em)
        left: 0
        width: 0
        height: 0
        border-left: unit(size / 2, em) solid transparent
        border-right: unit(size / 2, em) solid transparent
        border-top: unit(size / 4, em) solid bgcolor