body
    font-family: Arial, Helvetica, sans-serif
    font-weight: bold
    background: url('../assets/wallpaper.jpg')
    background-size: cover

.mainContent
    margin-top: 10%
    height: 100%
    z-index: -1
    display: flex

fieldset
    border: 0

.inline-block
    display: inline-block

.hidden
    display: none

.width-33
    width: 40%

.centered-container
    width: 100%

.custom-chkbox
    position: relative
    display: inline-block
    width: 16px
    height: 16px
    padding: 2px
    border: 2px solid #4B9BD4
    opacity: 0.6

    &:hover
        opacity: 1
        cursor: pointer

    &.checked::before
        line-height: 20px
        font-size: 24px
        color: #4B9BD4
        position: absolute
        content: '✔'

.custom-btn
    padding: 0.5em
    color: white
    font-weight: bold
    text-decoration: none
    background: #0E7EC0
    opacity: 0.75
    transition: .75s opacity
    margin: 1%
    cursor: pointer
    border: 0

    &:hover
        opacity: 1

.bottom-border-animated
    &::after
        content: ' '
        width: 33%
        height: 2px
        display: block
        transition: 1s width
        background: #797C80
        z-index: 1000000

    &:hover::after, .bottom-border
        width: 100%

#toast-container
    z-index: 999999999
    position: fixed
    max-width: 30%
    top: 2em
    right: 2em

    .toast
        margin: 1em
        padding: 1em
        background-color: #333333
        display: inline-block

        &.toast-success
            color: #4B9BD4
            border: 1px solid #4B9BD4
            
            .toast-message::before
                content: '✔'
        
        &.toast-error
            color: #A8181B
            border: 1px solid #A8181B

            .toast-message::before
                font-weight: bolder
                content: '☹'

        &.toast-warning
            color: #B69F10
            border: 1px solid #B69F10

            .toast-message::before
                font-weight: bolder
                content: '⚠'
            
        .toast-message::before
            margin-right: 1em
            line-height: 0.7em
            display: inline
            font-size: 24px
