body
    font-family: Arial, Helvetica, sans-serif
    font-weight: bold
    background: url('../assets/wallpaper.jpg')
    background-size: cover

.mainContent
    margin-top: 10%
    z-index: -1

fieldset
    border: 0

.inline-block
    display: inline-block

.hidden
    display: none

.width-33
    width: 40%

.centered-container
    display: flex
    align-items: center
    justify-content: center

.custom-btn
    padding: 0.5em
    color: white
    font-weight: bold
    text-decoration: none
    background: #0E7EC0
    opacity: 0.75
    transition: .75s opacity
    margin: 1%
    cursor: pointer

    &:hover
        opacity: 1

.bottom-border-animated
    &::after
        content: ' '
        width: 33%
        height: 2px
        display: block
        transition: 1s width
        background: #797C80
        z-index: 1000000

    &:hover::after, .bottom-border
        width: 100%