:local .form
    background: white
    padding: 2%

    div
        padding: 1%
        margin: 2% 1%

        label
            display: block
            text-align: center
            margin: 1%
        
        input
            display: inline-block
            width: 100%
            padding: 1%
            border: 0

            